/*
Theme Name: Shibumi
Author: Rahul Sekhar
Description: Custom theme for the Shibumi website
Version: 1.3.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: shibumi
Text Domain: shibumi
*/

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.t_person:after,
#content:after,
#page-footer:after,
#page-wrapper:after,
#page:after,
#header-nav:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.t_person:before,
.t_person:after,
#content:before,
#content:after,
#page-footer:before,
#page-footer:after,
#page-wrapper:before,
#page-wrapper:after,
#page:before,
#page:after,
#header-nav:before,
#header-nav:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}
.lt-ie8 .clear,
.lt-ie8 .t_person,
.lt-ie8 #content,
.lt-ie8 #page-footer,
.lt-ie8 #page-wrapper,
.lt-ie8 #page,
.lt-ie8 #header-nav,
.lt-ie8 .format-status .entry-header {
	zoom: 1;
}

/* Assistive text */
.assistive-text,
.site .screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation .assistive-text:hover,
.main-navigation .assistive-text:active,
.main-navigation .assistive-text:focus {
	background: #fff;
	border: 2px solid #333;
	border-radius: 3px;
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 12px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar */
}

/* Colours
------------------------------------------------------------ 

Maroon: #7B3C2D
Orange: #C78933
Grey-brown: #7D775C
Cream: #EEE7C9
Purple: #4D485B
Body background: #30302F

Cream hover color: #DED7B9

*/


/* Common stuff
------------------------------------------------------------ */

a:link, a:visited { 
	color: #4D485B;
	text-decoration: none;
	transition: color 200ms ease;
	-moz-transition: color 200ms ease;
	-webkit-transition: color 200ms ease;
	-o-transition: color 200ms ease;
}
a:hover { color: #6D687B; }


/* Page layout 
------------------------------------------------------------- */

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
}

body {
	font-size: 16px;
	font-size: 1.6rem;
	font-family: "chaparral-pro", serif;
	text-rendering: optimizeLegibility;
	background-color: #30302F;
	overflow: hidden;
}

#top-bar {
	height: 25px;
	height: 2.5rem;
	min-width: 876px;
	min-width: 87.6rem;
	background-color: #7B3C2D;
}

#page-wrapper {
	position: relative;
}

#page {
	width: 876px;
	width: 87.6rem;
	margin: 0 auto;
}

/* --- Background image --- */

#background-image {
	/* Set rules to fill background */
	min-height: 100%;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;

	z-index: -1000;
}


/* --- Header --- */

#masthead {
	float:left;
	margin-top: 32px;
	width: 269px;
	width: 26.9rem;
	background-color: #7B3C2D;
	margin-bottom: 140px;
	margin-bottom: 14rem;
	position: relative;
	z-index: 10;

	transition: background-color 150ms ease;
	-moz-transition: background-color 150ms ease;
	-webkit-transition: background-color 150ms ease;
	-o-transition: background-color 150ms ease;
}

#masthead:hover {
	background-color: #854637;
}

h1, .site-description {
	text-align: right;
	font-weight: normal;
	width: 223px;
	width: 22.3rem;
	margin: 0;
	margin: 0 26px 0 20px;
	margin: 0 2.6rem 0 2rem;
	cursor: pointer;
}
h1 {
	font-family: "superclarendon", serif;
	font-weight: 300;
	font-size: 35px;
	font-size: 3.5rem;
	margin-bottom: 22px;
	margin-bottom: 2.2rem;
	margin-top: 8px;
	margin-top: 0.8rem;
}
.site-description {
	font-size: 17px;
	font-size: 1.7rem;
	line-height: 100%;
	margin-top: 22px;
	margin-top: 2.2rem;
}

#masthead-link:link, #masthead-link:visited { color: #EEE7C9; }

/* --- Navigation --- */

.main-navigation {
	float: right;
	margin-top: 4px;
	margin-top: 0.4rem;
	font-weight: 600;
	font-family: "myriad-pro", sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
}

.main-navigation li {
	margin-top: 8px;
	margin-top: 0.8rem;
}

.main-navigation li a {
	display:block;
	width: 230px;
	width: 23rem;
	background-color: #4D485B;
	line-height: 28px;
	line-height: 2.8rem;
	padding: 10px 0 10px 39px;
	padding: 1rem 0 1rem 3.9rem;
	text-decoration: none;

	transition: background-color 150ms ease;
	-moz-transition: background-color 150ms ease;
	-webkit-transition: background-color 150ms ease;
	-o-transition: background-color 150ms ease;
}

.main-navigation li a:hover {
	background-color: #575265;
}

.main-navigation a:link, .main-navigation a:visited { color: #EEE7C9; }

/* --- Footer --- */

#footer-section {
	position: relative;
	margin-top: 65px;
	margin-top: 6.5rem;
	padding-bottom: 82px;
	padding-bottom: 8.2rem;
}

#page-footer {
	background-color: #7B3C2D;
	color: #EEE7C9;
	font-family: "myriad-pro", sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 120%;
	padding-top: 13px;
	padding-top: 1.3rem;
	padding-bottom: 24px;
	padding-bottom: 2.4rem;
}

#page-footer .wrapper {
	width: 876px;
	width: 87.6rem;
	margin: 0 auto;
}

#contact {
	float: left;
}

#page-footer .widget {
	float:right;
	width: 267px;
	width: 26.7rem;
}

#page-footer .column {
	float:left;
	width: 170px;
	width: 17rem;
}

#page-footer p, #page-footer address {
	margin-bottom: 8px;
	margin-bottom: 0.8rem;
}

#page-footer h3 {
	font-family: "superclarendon", serif;
	font-weight: normal;
	font-size: 26px;
	font-size: 2.6rem;
	line-height: 120%;
	margin-bottom: 7px;
	margin-bottom: 0.7rem;
}

#page-footer h4 {
	font-weight: bold;
	margin-bottom: 1px;
	margin-bottom: 0.1rem;
}

#page-footer address {
	font-style: normal;
}

#page-footer a:link, #page-footer a:visited { color: #EEE7C9; }
#page-footer a:hover { color: #CEC7A9; }


/* --- Credit --- */

#credit {
	position:absolute;
	bottom: 0;
	right: 40px;
	right: 4rem;
	width: 195px;
	width: 19.5rem;
}

#credit .arrow {
	background: url('img/credit.png') no-repeat;
	width: 23px;
	height: 26px;
	cursor: pointer;
	opacity: 1;
	transition: opacity 600ms ease-out 1.5s;
	-moz-transition: opacity 600ms ease-out 1.5s;
	-webkit-transition: opacity 600ms ease-out 1.5s;
	-o-transition: opacity 600ms ease-out 1.5s;
}

#credit:hover .arrow {
	opacity: 0;
	transition: opacity 600ms ease-out;
	-moz-transition: opacity 600ms ease-out;
	-webkit-transition: opacity 600ms ease-out;
	-o-transition: opacity 600ms ease-out;
}

#credit:hover p {
	bottom: 0;
	opacity: 1;
	background: rgb(182, 126, 49);
	background: rgba(182, 126, 49, 0.8);

	transition: bottom 600ms ease-out, opacity 600ms ease-out, background-color 300ms ease-out;
	-moz-transition: bottom 600ms ease-out, opacity 600ms ease-out, background-color 300ms ease-out;
	-webkit-transition: bottom 600ms ease-out, opacity 600ms ease-out, background-color 300ms ease-out;
	-o-transition: bottom 600ms ease-out, opacity 600ms ease-out, background-color 300ms ease-out;
}



#credit p {
	position: absolute;
	opacity: 0;
	left: -68px;
	bottom: -44px;
	bottom: -4.4rem;
	cursor: pointer;

	transition: bottom 600ms ease-out 1.5s, opacity 600ms ease-out 1.5s, background-color 300ms ease-out;
	-moz-transition: bottom 600ms ease-out 1.5s, opacity 600ms ease-out 1.5s, background-color 300ms ease-out;
	-webkit-transition: bottom 600ms ease-out 1.5s, opacity 600ms ease-out 1.5s, background-color 300ms ease-out;
	-o-transition: bottom 600ms ease-out 1.5s, opacity 600ms ease-out 1.5s, background-color 300ms ease-out;

	border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;

	background: #DABE98;
	background: rgba(182, 126, 49, 0.6);
	font-family: 'myriad-pro', sans-serif;
	text-transform: lowercase;
	font-size: 10px;
	font-weight: normal;
	font-size: 1rem;
	line-height: 18px;
	line-height: 1.8rem;
	padding: 4px 12px;
	padding: 0.4rem 1.2rem;
	letter-spacing: 1px;
	color: white;
}


/* --- Page headings --- */

#content {
	clear: both;
	padding-top: 13px;
	padding-top: 1.3rem;
}

#page-heading {
	position:relative;
	margin-top: -13px;
	margin-top: -1.3rem;
	float:left;
}

#content h2 {
	font-family: "superclarendon", serif;
	font-size: 56px;
	font-size: 5.6rem;
	line-height: 110%;
	width: 434px;
	width: 43.4rem;
	clear: left;
	position: absolute;
	bottom: 0;
	color: #EEE7C9;
	font-weight: normal;
	text-shadow: 1px 1px 6px rgba(24,24,24,0.5);
}

/* --- Content --- */

#content article {
	margin-top: 37px;
	margin-top: 3.7rem;
	background-color: #EEE7C9;
	padding: 60px 180px 45px 80px;
	padding: 6rem 18rem 4.5rem 8rem;
	position: relative;
}

#content article h3 {
	font-family: "superclarendon", serif;
	line-height: 130%;
	font-weight: normal;
	font-size: 24px;
	font-size: 2.4rem;
	margin-bottom: 27px;
	margin-bottom: 2.7rem;
}

#content article p {
	line-height: 140%;
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
}

#content article ul, ol {
	line-height: 130%;
	padding-left: 20px;
	padding-left: 2rem;
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
}

#content article ul { list-style-type: disc; }
#content article ol { list-style-type: decimal; }

#content article li {
	margin-bottom: 5px;
	margin-bottom: 0.5rem;
	padding-left: 5px;
	padding-left: 0.5rem;
}

#content article h4 {
	font-weight: bold;
	line-height: 130%;
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
	padding-top: 10px;
	padding-top: 1rem;

	transition: color 200ms ease;
	-moz-transition: color 200ms ease;
	-webkit-transition: color 200ms ease;
	-o-transition: color 200ms ease;
}

.js #content article h4 { color: #4D485B; }
.js #content article h4:hover { color: #6D687B; }

#content article h4.first {
	padding-top: 0;
}

#content article .highlight {
	font-size: 20px;
	font-size: 2rem;
	font-family: 'myriad-pro', sans-serif;
	font-weight: 600;
}

.post-edit-link {
	position: absolute;
	top: 10px;
	top: 1rem;
	right: 20px;
	right: 2rem;
	text-transform: lowercase;
}

.post-edit-link:link {
	text-decoration: underline;
}

/* People page
------------------------------------------------------- */

#content article.t_person {
	display:table;
	width: 100%;
	
	padding: 40px 0;
}

article.t_person .thumbnail-container {
	width: 208px;
	width: 20.8rem;
	display:table-cell;
	vertical-align: middle;
	padding-left: 40px;
}

article.t_person .thumbnail {
	display: table;
	width: 150px;
	width: 15rem;
	height: 150px;
	height: 15rem;
	background-color: black;
}

article.t_person .inner-thumbnail {
	display: table-cell;
	vertical-align: middle;
}

article.t_person .thumbnail img {
	max-width: 150px;
	max-width: 15rem;
	max-height: 150px;
	max-height: 15rem;
	display:block;
	margin: 0 auto;
}

article.t_person .text {
	display: table-cell;
	vertical-align: middle;
	padding-right: 140px;
}

article.t_person .text h3 {
	clear: none;
}

/* Home Page
------------------------------------------------------ */

.home {
	background: url('img/texture.jpg');
}

.home #header-nav {
	position: relative;
	margin-bottom: 25px;
	margin-bottom: 2.5rem;
}

.home #masthead{
	margin-bottom: 0;
}

.home .main-navigation {
	position: absolute;
	bottom: -3px;
	bottom: -0.3rem;
	right: 0;
}

.home .main-navigation ul {
	max-height: 121px;
	max-height: 12.1rem;
	width: 400px;
	width: 40rem
}

.home .main-navigation li {
	text-align: right;
	float: left;
	width: 200px;
	width: 20rem;
	margin-top: 16px;
	margin-top: 1.2rem;
}

.home .main-navigation li a {
	width: auto;
	display: inline;
	padding: 0;
	line-height: 100%;
}

.home .main-navigation li a:link, .home .main-navigation li a:visited {
	background-color: transparent;
	color: #4D485B;
}

.home .main-navigation li a:hover {
	color: #676275;
}

.home #content {
	position:relative;
	margin-top: 80px;
	margin-top: 8rem;
	padding: 0;
}

.home #page-heading, #intro-column-1, #intro-column-2 {
	width: 376px;
	width: 37.6rem;
}

.home #content article {
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.home #content .post-edit-link {
	display: none;
}

.home #page-heading {
	margin-top: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.home #content h2 {
	width: 100%;
	position: static;
	color: black;
	text-shadow: none;
	line-height: 100%;
	font-size: 46px;
	font-size: 4.6rem;
}

#intro-column-1 {
	position: absolute;
	bottom: 0;
	left: 0;
}

#intro-column-2 {
	float: right;
}

/* --- Slideshow --- */

#slideshow {
	clear: both;
	height: 385px;
	height: 38.5rem;
	width: 100%;
}

#slideshow .slides_container {
	width: 100%;
	height: 385px;
	height: 38.5rem;
	position: relative;
}

#slideshow .slide {
	display: none;
}

#slideshow .slide.first {
	display: block;
}

#slideshow img {
	display: block;
}

#slideshow .caption {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #C78933;
	/* background-color: rgba(199, 137, 51, 0.8) */
	opacity: 0.8;
}

#slideshow .caption p {
	line-height: 45px;
	line-height: 4.5rem;
	color: white;
	text-align: center;
	font-family: 'superclarendon', serif;
	font-weight: 300;
	font-size: 18px;
	font-size: 1.8rem;

	padding: 0 100px;
	padding: 0 10rem;
	height: 45px;
	height: 4.5rem;
	min-width: 237px;
	min-width: 23.7rem;
	max-width: 676px;
	max-width: 67.6rem;
	overflow: hidden;
}

#slideshow .caption .prev {
	position: absolute;
	top: 0;
	left: 51px;
	left: 5.1rem;
}

#slideshow .caption .next {
	position: absolute;
	top: 0;
	right: 51px;
	right: 5.1rem;
}

#slideshow .caption a:link, #slideshow .caption a:visited { color: white; }
#slideshow .caption a:hover { color: #CCC; }


/* --- Shadows --- */

#slideshow
{
	-webkit-box-shadow: 1px 1px 10px rgba(24,24,24,0.5);
	-moz-box-shadow: 1px 1px 10px rgba(24,24,24,0.5);
	box-shadow: 1px 1px 10px rgba(24,24,24,0.5);
}

#content article {
	-webkit-box-shadow: 3px 3px 20px rgba(10, 10, 10, 0.5);
	-moz-box-shadow: 3px 3px 20px rgba(10, 10, 10, 0.5);
	box-shadow: 3px 3px 20px rgba(10, 10, 10, 0.5);
}

.main-navigation li a {
	-webkit-box-shadow: 1px 1px 5px rgba(24,24,24,0.5);
	-moz-box-shadow: 1px 1px 5px rgba(24,24,24,0.5);
	box-shadow: 1px 1px 5px rgba(24,24,24,0.5);
}

.home .main-navigation li a, .home #content article {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#page-footer, #masthead {
	-webkit-box-shadow: 0px 0px 20px rgba(10,10,10,0.5);
	-moz-box-shadow: 0px 0px 20px rgba(10,10,10,0.5);
	box-shadow: 0px 0px 20px rgba(10,10,10,0.5);
}

#credit p, #credit .arrow {
	-webkit-box-shadow: 2px 2px 10px rgba(100, 100, 100, 0.5);
	-moz-box-shadow: 2px 2px 10px rgba(100, 100, 100, 0.5);
	box-shadow: 2px 2px 10px rgba(100, 100, 100, 0.5);
}

#top-bar {
	-webkit-box-shadow: 1px 1px 20px rgba(10,10,10,0.8);
	-moz-box-shadow: 1px 1px 20px rgba(10,10,10,0.8);
	box-shadow: 1px 1px 20px rgba(10,10,10,0.8);
}

.home #top-bar, .home #masthead, .home #page-footer {
	-webkit-box-shadow: 1px 1px 10px rgba(10,10,10,0.4);
	-moz-box-shadow: 1px 1px 10px rgba(10,10,10,0.4);
	box-shadow: 1px 1px 10px rgba(10,10,10,0.4);
}



/* ----- IE Rules -------- */

.lt-ie8 .assistive-text,
.lt-ie8 .site .screen-reader-text {
	display :none;
}

.lt-ie7 #background-image{
	display: none;
}

.lt-ie7 #slideshow .caption p {
	width: 300px;
}

.lt-ie9 #credit .arrow{
	display: none;
}
.lt-ie9 #credit p {
	bottom: 0;
}
.lt-ie7 #credit {
	display: none;
}

.lt-ie8 .site-description {
	margin: 0 26px 0 20px;
	margin-top: 22px;
	zoom: 1;
	display: block;
}

.lt-ie8 article.t_person .thumbnail-container {
	float: left;
}

.lt-ie8 article.t_person .text {
	margin-left: 248px;
}